statemachine/blog_syndicator.asl.json
{
  "Comment": "A workflow to check RSS feed and post to social media",
  "StartAt": "Check RSS Feed",
  "States": {
    "Check RSS Feed": {
      "Type": "Task",
      "Resource": "${RssFeedCheckerFunctionArn}",
      "ResultPath": "$.RssFeedCheckerFunctionOutput",
      "Next": "Check If New Post Exists"
    },
    "Check If New Post Exists": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.RssFeedCheckerFunctionOutput.body.url",
          "IsNull": false,
          "Next": "Post To Social Media"
        }
      ],
      "Default": "End"
    },
    "Post To Social Media": {
      "Type": "Parallel",
      "Next": "End",
      "Branches": [
        {
          "StartAt": "Post To LinkedIn",
          "States": {
            "Post To LinkedIn": {
              "Type": "Task",
              "Resource": "${LinkedInPosterFunctionArn}",
              "InputPath": "$.RssFeedCheckerFunctionOutput.body",
              "End": true
            }
          }
        },
        {
          "StartAt": "Post To Twitter",
          "States": {
            "Post To Twitter": {
              "Type": "Task",
              "Resource": "${TwitterPosterFunctionArn}",
              "InputPath": "$.RssFeedCheckerFunctionOutput.body",
              "End": true
            }
          }
        }
      ]
    },
    "End": {
      "Type": "Pass",
      "End": true
    }
  }
}
